.cache
.vscode
.idea
homelab.yaml
service-restart.yml
files/local_artifacts/.DS_Store
files/local_artifacts/rke2-images-cilium.linux-amd64.tar.gz
files/local_artifacts/rke2-images-core.linux-amd64.tar.gz
files/local_artifacts/rke2-images.linux-amd64.tar.gz
files/local_artifacts/rke2.linux-amd64.tar.gz
files/local_artifacts/rke2.linux-amd64/.DS_Store
files/local_artifacts/rke2.linux-amd64/lib/.DS_Store
inventory/homelab/hosts.ini
rke2/*