apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    kubeProxyReplacement: true
    k8sServiceHost: 10.10.1.30
    k8sServicePort: 6443
    ipam:
      mode: kubernetes
    tunnel: vxlan
    enableIPv4Masquerade: true
    localRedirectPolicy: true
    autoDirectNodeRoutes: false
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
    operator:
      replicas: 1